.body-style {
    height: 100vh;
    background-color: #e7b26c2b;
    background-image: radial-gradient(#e7b26c2b, rgba(255, 255, 255, 1));
}

.uk-textarea {
    font-size: 12px;
    min-width: 200px;
    max-width: 400px;
}

.content-item {
    width: 33%;
    min-width: 200px;
    max-width: 400px;
}

.textarea-content {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.controls {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.controls select {
    width: 100%;
}

.translateButton {
    display: flex;
    justify-content: space-between;
}

.flex-string {
    display: flex;
    justify-content: space-evenly;
}

.uk-button-default {
    border: 1px solid #eb8c8c;
}

/* loader from https://loading.io/css/ */
#progressbarTranslate {
    display: none;
    padding-top: 10px;
}

.loader {
    width: 36px;
    height: 36px;
    border: 5px solid coral;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: loaderRotation 1s linear infinite;
}

@keyframes loaderRotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width:641px) {
    .uk-heading-small {
        /* display: none; */
    }

    .uk-text-meta {
        display: none;
    }

    .content {
        min-width: 440px;
        display: grid;
        gap: 10px;
        /* height: 100vh; */
        grid-template-areas:
            "A B"
            "C B";
        grid-template-columns: 60% auto;
    }

    .sourceSong {
        grid-area: A;
    }

    .controls {
        grid-area: B;
    }

    .riddleSong {
        grid-area: C;
    }

    .content-item {
        width: 100%;
        min-width: 100px;
    }

    .uk-textarea {
        height: 200px;
    }
}